* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  background: radial-gradient(152% 151% at 50% -65%, rgb(19, 22, 24), rgb(8, 10, 11) 100%);
  color: #FFF;
  font-family: "Steppe Trial", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
}
@media screen and (max-width: 1880px) {
  .container {
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: calc(100% - 50px);
  }
}

.header {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 4;
}
@media screen and (max-width: 1300px) {
  .header {
    position: static;
    padding-top: 30px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .header__container {
    flex-direction: column;
    gap: 10px;
  }
}
.header__left {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1300px) {
  .header__left {
    flex-direction: column;
    gap: 20px;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__navs {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 1300px) {
  .header__navs {
    flex-direction: column;
  }
}
.header__navs a {
  background: rgba(72, 89, 133, 0.08);
  display: flex;
  align-items: center;
  padding: 11px 22px 11px 11px;
  gap: 15px;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .header__navs a {
    padding: 5px 10px;
  }
}
.header__navs a:not(:hover):not(.active) {
  opacity: 0.5;
}
.header__navs .icon {
  width: 39px;
  height: 39px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(72, 89, 133, 0.08);
}
.header__right a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(72, 89, 133, 0.08);
  padding: 13px 12px 13px 25px;
}
@media screen and (max-width: 992px) {
  .header__right a {
    padding: 5px 10px;
  }
}
.header__right a .icon {
  background: rgba(79, 123, 22, 0.25);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.active {
  display: flex;
}
.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.modal__content {
  position: relative;
  z-index: 1;
  background: rgba(17, 17, 17, 0.7);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
  box-shadow: 0 0 160px rgba(0, 0, 0, 0.25);
}
.modal__content .title {
  font-size: 26px;
  margin-bottom: 18px;
  line-height: 17px;
}
.modal__content .subtitle {
  font-size: 18px;
  opacity: 0.5;
  line-height: 12px;
  letter-spacing: 0.8px;
}
.modal__content .line {
  background: rgba(217, 217, 217, 0.16);
  height: 1px;
  width: 100%;
  margin: 24px 0;
}

.main-btn {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(217, 217, 217, 0.05);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  border-radius: 8px;
}
.main-btn.disabled {
  opacity: 0.5;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form_inp {
  position: relative;
  background: rgba(217, 217, 217, 0.05);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}
.form_inp .icon {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background: rgba(217, 217, 217, 0.05);
  width: 50px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.form_inp input {
  width: 100%;
  height: 64px;
  padding: 0 16px 0 78px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.form_inp input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.form_inp input::placeholder {
  color: white;
  opacity: 0.5;
}
.form_inp p {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: -1;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  opacity: 0.5;
}

.select_btn {
  background: rgba(217, 217, 217, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 16px;
  gap: 10px;
}
.select_btn input {
  display: none;
}
.select_btn .icon {
  width: 50px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.05);
  border-radius: 4px;
}
.select_btn p {
  font-size: 20px;
  font-weight: 300;
}

.balance-modal__content {
  width: 1202px;
  padding: 40px;
}
.balance-modal__content .modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
.balance-modal__content_in {
  width: 460px;
}
.balance-modal__content_in ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 25px;
}
.balance-modal__content_in ul li::marker {
  color: #385EE5;
}
.balance-modal__content_in ul a {
  color: #385EE5;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 300;
}

.payment-modal__content {
  width: 540px;
  padding: 40px;
}
.payment-modal__content ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.payment-modal__content ul li {
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  gap: 6px;
}
.payment-modal__content ul input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.payment-modal__content ul img {
  opacity: 0.5;
}
.payment-modal__content ul span {
  opacity: 0.5;
  font-size: 20px;
  font-weight: 400;
  line-height: 12px;
}
.payment-modal__content ul span::before {
  content: "";
  background: rgba(217, 217, 217, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.payment-modal__content ul input:checked ~ span {
  opacity: 1;
}
.payment-modal__content ul input:checked ~ img {
  opacity: 1;
}

.data-modal__content {
  width: 540px;
  padding: 40px;
}

.home {
  position: relative;
  z-index: 1;
}
.home .ellips-1 {
  width: 500px;
  height: 500px;
  background: rgba(224, 53, 15, 0.15);
  border-radius: 50%;
  position: absolute;
  top: -118px;
  right: -386px;
  z-index: -1;
  filter: blur(200px);
}
.home .ellips-2 {
  width: 500px;
  height: 500px;
  background: rgba(224, 53, 15, 0.15);
  border-radius: 50%;
  position: absolute;
  top: 403px;
  left: -383px;
  z-index: -1;
  filter: blur(200px);
}
.home__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 1080px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.17);
  padding-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .home__container {
    min-height: auto;
    padding-top: 30px;
  }
}
.home .main-img {
  width: 717px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .home .main-img {
    width: calc(100vw - 100px);
    max-width: 500px;
  }
}
.home .main-img .icon-1 {
  width: 238px;
  height: 238px;
  background: rgba(239, 80, 45, 0.3);
  position: absolute;
  border-radius: 50%;
  left: 259px;
  bottom: 188px;
  z-index: -1;
  filter: blur(200px);
}
@media screen and (max-width: 992px) {
  .home .main-img .icon-1 {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
  }
}
.home .main-img .icon-2 {
  width: 238px;
  height: 238px;
  background: rgb(239, 80, 45);
  position: absolute;
  border-radius: 50%;
  left: 259px;
  bottom: 188px;
  z-index: -1;
  filter: blur(200px);
}
@media screen and (max-width: 992px) {
  .home .main-img .icon-2 {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
  }
}
.home .main-img .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 882px;
  min-width: 882px;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .home .main-img .bg {
    width: calc(100% + 80px);
    min-width: calc(100% + 80px);
  }
}
.home .main-img-bg {
  width: 100%;
}
.home .main-img .text {
  position: absolute;
  bottom: 43px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 992px) {
  .home .main-img .text {
    gap: 5px;
  }
}
.home .main-img .text h4 {
  font-size: 20px;
  color: white;
  opacity: 0.5;
  font-weight: 200;
}
@media screen and (max-width: 992px) {
  .home .main-img .text h4 {
    font-size: 18px;
    white-space: nowrap;
  }
}
.home .main-img .text .logo {
  height: 50px;
}
@media screen and (max-width: 992px) {
  .home .main-img .text .logo {
    height: 30px;
  }
}
.home__content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 3px 0 40px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .home__content {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.home__content a {
  background: rgba(72, 89, 133, 0.08);
  border-radius: 12px;
  padding: 20px 30px 20px 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 992px) {
  .home__content a {
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
  }
}
.home__content a.active {
  background: #ED4A26;
  box-shadow: 0 0 63px rgba(194, 55, 24, 0.25);
}
.home__content a .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.home__content a .text-wrap span {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  line-height: 9px;
}
.home__content a .text-wrap .text {
  display: flex;
  align-items: center;
  gap: 3px;
}
.home__content a .text-wrap .text span {
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 12px;
}
.home p {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0.5;
  max-width: 840px;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .home p {
    font-size: 16px;
  }
}

.check__container {
  border-bottom: 1px solid rgba(217, 217, 217, 0.17);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 140px 0 80px;
  text-align: right;
}
@media screen and (max-width: 1200px) {
  .check__container {
    justify-content: flex-start;
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .check__container {
    padding: 40px 0;
  }
}
.check__card {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -129px;
  width: 928px;
  min-width: 928px;
}
@media screen and (max-width: 1550px) {
  .check__card {
    top: 100px;
    width: 800px;
    min-width: 800px;
  }
}
@media screen and (max-width: 1350px) {
  .check__card {
    top: 300px;
    width: 600px;
    min-width: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .check__card {
    display: none;
  }
}
.check__title {
  font-size: 44px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 28px;
}
@media screen and (max-width: 992px) {
  .check__title {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 10px;
  }
}
.check__description {
  font-size: 24px;
  font-weight: 200;
  max-width: 755px;
  opacity: 0.5;
  letter-spacing: 2px;
}
@media screen and (max-width: 992px) {
  .check__description {
    font-size: 18px;
  }
}
.check .line {
  margin: 40px 0;
  background: rgba(217, 217, 217, 0.17);
  height: 1px;
  width: 755px;
}
@media screen and (max-width: 992px) {
  .check .line {
    width: 100%;
    margin: 20px 0;
  }
}
.check .step {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .check .step {
    width: 100%;
    align-items: flex-start;
    gap: 10px;
  }
}
.check .step_head {
  display: flex;
  align-items: center;
  gap: 12px;
}
.check .step_head h3 {
  font-size: 26px;
  font-weight: 600;
}
@media screen and (max-width: 992px) {
  .check .step_head h3 {
    font-size: 20px;
  }
}
.check .step_head span {
  background: #ED4A26;
  border-radius: 8px;
  padding: 9px 12px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 13px;
}
@media screen and (max-width: 992px) {
  .check .step_head span {
    font-size: 18px;
  }
}
.check .step_card {
  position: relative;
  z-index: 1;
  padding: 20px;
  width: 790px;
  display: flex;
  align-items: center;
  gap: 17px;
}
@media screen and (max-width: 1200px) {
  .check .step_card {
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 10px 10px 0;
  }
}
@media screen and (max-width: 992px) {
  .check .step_card {
    align-items: flex-start;
  }
}
.check .step_card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, rgba(101, 109, 131, 0), #656D83);
  opacity: 0.08;
  border-radius: 20px;
}
.check .step_card .logo {
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.06);
}
@media screen and (max-width: 992px) {
  .check .step_card .logo {
    width: 60px;
    height: 60px;
  }
  .check .step_card .logo img {
    transform: scale(0.8);
  }
}
.check .step_card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}
.check .step_card__content_head {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .check .step_card__content_head {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .check .step_card__content_head {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.check .step_card__content ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 992px) {
  .check .step_card__content ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
.check .step_card__content ul li {
  padding: 7px 10px 7px 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  .check .step_card__content ul li {
    border-radius: 4px;
  }
}
.check .step_card__content ul li span {
  font-size: 12px;
}
@media screen and (max-width: 992px) {
  .check .step_card__content ul li span {
    font-size: 10px;
  }
}
.check .step_card__content ul li:nth-child(1) {
  background: rgba(33, 39, 89, 0.25);
  color: #4D5DDF;
}
.check .step_card__content ul li:nth-child(2) {
  background: rgba(27, 77, 123, 0.25);
  color: #227BCE;
}
.check .step_card__content ul li:nth-child(3) {
  background: rgba(116, 85, 26, 0.35);
  color: #FCAF17;
}
.check .step_card__content h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .check .step_card__content h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .check .step_card__content h4 {
    flex-direction: column;
    align-items: flex-start;
  }
}
.check .step_card__content h4 span {
  font-size: 12px;
  padding: 12px 18px;
  color: #30CE5C;
  background: rgba(30, 116, 54, 0.25);
  border-radius: 8px;
  line-height: 11px;
}
@media screen and (max-width: 992px) {
  .check .step_card__content h4 span {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 10px;
  }
}
.check .step_card__content h4 span.text-yellow {
  background: rgba(119, 103, 29, 0.25);
  color: #FDD118;
}
.check .step_card__content h4 span.text-red {
  background: rgba(129, 50, 32, 0.25);
  color: #ED4A26;
}
.check .step_card__content p {
  opacity: 0.5;
  font-size: 16px;
  line-height: 15px;
  font-weight: 200;
}
@media screen and (max-width: 992px) {
  .check .step_card__content p {
    font-size: 14px;
  }
}
.check .step_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .check .step_wrap {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .check__content {
    width: 100%;
  }
}
.check .description-2 {
  max-width: 755px;
  font-size: 18px;
  font-weight: 200;
  opacity: 0.5;
  letter-spacing: 2px;
}
@media screen and (max-width: 992px) {
  .check .description-2 {
    font-size: 16px;
  }
}

.example__container {
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.17);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example .main-img {
  position: relative;
  z-index: 1;
}
.example .main-img .icon-1 {
  width: 618px;
  height: 353px;
  background: rgba(239, 80, 45, 0.1);
  border-radius: 50%;
  position: absolute;
  left: 375px;
  bottom: 137px;
  filter: blur(200px);
  z-index: -1;
}
.example .main-img .icon-2 {
  width: 871px;
  height: 497px;
  background: rgba(239, 80, 45, 0.15);
  border-radius: 50%;
  position: absolute;
  left: 248px;
  bottom: 55px;
  filter: blur(200px);
  z-index: -1;
}
.example .main-img__bg {
  width: 1430px;
  min-width: 1430px;
}
.example__card {
  background: rgba(101, 109, 131, 0.07);
  border-radius: 16px;
  padding: 24px 30px 30px;
}
.example__card_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.15);
}
.example__card_head h3 {
  font-size: 24px;
}
.example__card_head ul {
  display: flex;
  align-items: center;
  gap: 4px;
}
.example__card_head ul li {
  background: rgba(33, 39, 90, 0.25);
  color: #4D5DDF;
  border-radius: 5px;
  padding: 8.5px 10px;
  line-height: 9px;
  font-size: 14px;
}
.example__card p {
  opacity: 0.5;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.example__card_wrap {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.promo__container {
  display: flex;
  align-items: stretch;
  gap: 25px;
  padding: 65px 0 70px;
}
.promo__left {
  height: 698px;
  width: 100%;
  position: relative;
  background: rgba(101, 109, 131, 0.07);
  border-radius: 20px;
  padding: 40px;
}
.promo__left h3 {
  font-size: 30px;
  line-height: 20px;
  margin-bottom: 20px;
}
.promo__left p {
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 300;
  opacity: 0.5;
  line-height: 13px;
}
.promo__left a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.promo__left a span {
  font-size: 20px;
  line-height: 13px;
  font-weight: 300;
}
.promo__right {
  position: relative;
  width: 514px;
  flex-shrink: 0;
}
.promo__right ul {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 27px);
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 25px;
}
.promo__right ul::-webkit-scrollbar {
  width: 2px;
}
.promo__right ul::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}
.promo__right ul::-webkit-scrollbar-thumb {
  background: white;
  cursor: pointer;
}
.promo__right ul li {
  height: 289px;
  min-height: 289px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(101, 109, 131, 0.07);
}

.footer {
  background: rgba(101, 109, 131, 0.0705882353);
  padding: 80px 0 70px 0;
}
@media screen and (max-width: 993px) {
  .footer {
    padding: 40px 0;
  }
}
.footer .container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: white;
  margin-bottom: 40px;
}
.footer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 0.2509803922);
  max-width: 691px;
}
@media screen and (max-width: 993px) {
  .footer p {
    max-width: 100%;
  }
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}/*# sourceMappingURL=style.css.map */